$form-arrow-height: 2em;

.donation-type {
  display: flex;
}

.recurring,
.one-off {
  flex: 1;

  label {
    position: relative;
    display: block;
    margin: 0 0 $form-arrow-height / 2;
    padding: 1em;
    font: 1em $titles-font-family-bold;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    background-color: $secondary-bg;
    cursor: pointer;
  }
}

.recurring label {
  border-radius: $form-border-radius 0 0 0;
}

.one-off label {
  border-radius: 0 $form-border-radius 0 0;
}

[name=type]:checked ~ label {
  background: $secondary-bg-dark;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 100%; left: 0; right: 0;
    height: $form-arrow-height;
  }

  &::before {
    background: linear-gradient(to top right, $background-color 49%, $secondary-bg-dark 51%);
  }

  &::after {
    background: linear-gradient(to top left, $background-color 49%, transparent 51%);
  }
}

.donation-amount {
  padding: 1em 1em 0;
  font: 1em $titles-font-family;
}

.currency {
  padding-bottom: 1em;
  text-align: center;
  font: 1.3em $titles-font-family;
}

.inline-option {
  display: inline-block;
  margin: 0 .5em;
}

.currency-label {
  display: block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  padding: .4em;
  color: #fff;
  background-color: $secondary-bg;
  border-radius: 50%;
  transition: background-color 0.4;
  cursor: pointer;

  &:hover {
    background-color: $main-color;
  }
}

[name=currency]:checked ~ label {
  background-color: $main-color;
}

.amount {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  font: 1em $base-font-family;

  input {
    flex: 1;
    margin-left: 2em;
    padding: 0.5em 1em;
    line-height: 2;
    border-radius: $form-border-radius;
    border: 2px solid #ddd;
  }
}

.donation-giftaid,
.main-section-bottom-footer {
  padding: 1em;
}

.donation-giftaid {
  background: $giftaid-bg url('giftaid-logo.png') 90% 2em no-repeat;

  h2 {
    margin: 0;
    padding: .5em 0;
    font: 1.2em $titles-font-family-bold;
  }
}

.square-radio ~ label,
.round-radio ~ label {
  position: relative;
  display: inline-block;
  line-height: 1.2em;
  cursor: pointer;
}

.square-radio ~ label {
  padding-left: 3em;
}

.round-radio ~ label {
  padding-left: 2em;
}

.square-radio ~ label::before {
  content: 'X';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-family: sans-serif;
  color: transparent;
  background-color: #fff;
  border-radius: .2em;
}

.square-radio:checked ~ label::before {
  color: $text-color;
}

.payment-method-title {
  margin: 0;
  text-align: left;
}

.round-radio ~ label::before {
  content: '';
  display: block;
  position: absolute;
  top: -.2em; left: 0;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  font-family: sans-serif;
  background-color: #fff;
  border-radius: 50%;
}

.round-radio:checked ~ label::before {
  background-color: $main-color;
}

#submit-button {
  display: block;
  width: 100%;
  padding: 1em;
  font: 1.3em $titles-font-family-bold;
  color: #fff;
  background-color: $main-color;
  border-radius: $form-border-radius;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.errors {
  color: $main-color;
}

.donation-thanks {
  background-color: $secondary-bg-dark;
  text-align: center;
  padding: 1em;
  font: 1.5em $titles-font-family-bold;
  text-align: center;
  color: #fff;
  border-radius: $form-border-radius $form-border-radius 0 0;
}

.main-section-bottom-footer {
  h2 {
    padding: .5em 0;
    font: 1.2em $titles-font-family;
  }

  .share-this-title {
    text-align: center;
  }

  p {
    color: $text-color-light;
  }
}

.addthis_inline_share_toolbox {
  text-align: center;
  padding-bottom: 2em;
}
