<div class="secondary-section-top">
  <blockquote>
    <p class="secondary-section-top__body">Because of your ceasless efforts we are still surviving</p>
    <p class="secondary-section-top__footer"><strong>Jumma</strong>, Bangladesh</p>
  </blockquote>
</div>
