<div class="secondary-section-bottom">
  <h2>More in this section</h2>
  <p><a class="more-info" href="">Frequently asked questions</a></p>
  <p><a class="more-info" href="">Other ways to donate</a></p>
  <p><a class="more-info" href="">Contact us</a></p>

  <p class="charity-info">UK Reg.charity 54590466<br>
  Survival is a 501(c)(3) organisation</p>
</div>
