<div class="secondary-section-bottom">
  <h2>More in this section</h2>
  <p class="more-info"><a href="">Frequently asked questions</a></p>
  <p class="more-info"><a href="">Other ways to donate</a></p>
  <div class="more-info">
    <a href="">Contact us</a>

    <div>
      <p>Send us an email: <a href="mailto:info@survival.org">info@survivalinternational.org</a></p>

      <p>or call us on</p>

      <p>+44 (0)207 687 8700<br>
        (International headquarters)</p>

      <p>(+1) 510 858 3950<br>
        (Survival International USA)</p>
    </div>
  </div>

  <p class="charity-info">UK Reg.charity 54590466<br>
  Survival is a 501(c)(3) organisation</p>
</div>
