<div class="tabs">
  <div class="tab">
    <input type="radio" class="visuallyhidden" id="first-amount" name="proposed-amounts" value="10">
    <label for="first-amount">£10</label>
    <div class="content">
      <img src="https://biggeekdad-wpengine.netdna-ssl.com/wp-content/uploads/2016/02/Dear-Kitten-Beginning-min.jpg" width="280" height="280" alt="alt">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor molestie augue ac ultrices £10</p>
    </div>
  </div>

  <div class="tab">
    <input type="radio" class="visuallyhidden" id="second-amount" name="proposed-amounts" value="20">
    <label for="second-amount">£20</label>
    <div class="content">
      <img src="http://www.animal-photography.com/thumbs/two_kittens_tabby_and_black~AP-OAF15T-TH.jpg" width="280" height="280" alt="alt">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor molestie augue ac ultrices £20</p>
    </div>
  </div>

  <div class="tab">
    <input type="radio" class="visuallyhidden" id="third-amount" name="proposed-amounts" value="30" checked>
    <label for="third-amount">£30</label>
    <div class="content">
      <img src="http://i.imgur.com/OTSA6eX.jpg" width="280" height="280" alt="alt">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor molestie augue ac ultrices £30</p>
    </div>
  </div>
</div>
