<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Donate - Survival International</title>
    <meta name="description" content="Survival helps tribal peoples defend their lives, protect their lands and determine their own futures.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="wrapper">
      <h1>Your donation</h1>
      <form action="/donations" method="post" id="payment-form">
        <p>This is a one-off donation.</p>
        <p>Your currency is GBP</p>
        <p>
          <label for="amount">Amount in £</label>
          <input name="amount" type="number" id="amount" min="0.00" step="0.01" required />
        </p>
        <p>
          <input id="giftaid-yes" type="radio" name="giftaid" value="yes">
          <label for="giftaid-yes">I am a UK taxpayer</label>
        </p>
        <p>
          <input id="giftaid-no" type="radio" name="giftaid" value="no">
          <label for="giftaid-no">No, I am not a UK taxpayer</label>
        </p>
        <p>Payment via Credit card</p>
        <p>
          <button id="submit-button" type="submit">Donate now</button>
        </p>
      </form>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="/javascripts/bundle.js"></script>

    <script type="text/javascript">
    (function() {
      var uiConfig, stripeConfig, checkoutParams;

      uiConfig = {
        formIdSelector: 'payment-form',
        submitIdSelector: 'submit-button',
        amountIdSelector: 'amount'
      };

      stripeConfig = {
        key: '<%= ENV['STRIPE_PUBLIC_KEY'] %>',
        image: '/icon.png',
        locale: 'en',
        token: UI.submitFormWithCustomFields
      };

      checkoutParams = {
        name: 'Survival International',
        description: 'Your donation',
        currency: 'GBP',
        billingAddress: true,
        zipCode: true
      };

      UI.setup(uiConfig);
      StripeWrapper.setup(UI, stripeConfig, checkoutParams);
      StripeWrapper.registerListeners();
    })();
    </script>
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  </body>
</html>
