<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Donate - Survival International</title>
    <meta name="description" content="Survival helps tribal peoples defend their lives, protect their lands and determine their own futures.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="wrapper">
      <h1>Your donation</h1>
      <form action="/donations" method="post">
        <p>This is a one-off donation.</p>
        <p>Your currency is GBP</p>
        <p>
          <label for="amount">Amount in £</label>
          <input name="amount" type="number" id="amount" min="0.00" step="0.01" required></input>
        </p>
        <p>
          <input id="gift-aid-yes" type="radio" name="gift-aid" value="yes">
          <label for="gift-aid-yes">I am a UK taxpayer</label>
        </p>
        <p>
          <input id="gift-aid-no" type="radio" name="gift-aid" value="no">
          <label for="gift-aid-no">No, I am not a UK taxpayer</label>
        </p>
        <p>Credit card<p>
        <p>
          <label for="name">Name*</label>
          <input name="name" type="text" id="name" required></input>
        </p>
        <p>
          <label for="email">Email*</label>
          <input name="email" type="email" id="email" required></input>
        </p>
        <p>
          <label for="cc-name">Name on card*</label>
          <input type="text" id="cc-name" required></input>
        </p>
        <p>
           <label for="cc-number">Card number*</label>
           <input type="number" id="cc-number" autocomplete="off" required></input>
        </p>
        <p>
          <label for="cc-exp-month">Expiry month</label>
          <select id="cc-exp-month">
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </p>
        <p>
          <label for="cc-exp-year">Expiry year</label>
          <select id="cc-exp-year">
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
            <option value="2031">2031</option>
            <option value="2032">2032</option>
            <option value="2033">2033</option>
            <option value="2034">2034</option>
            <option value="2035">2035</option>
          </select>
        </p>
        <p>
          <label for="cc-csc">Security code*</label>
          <input type="number" id="cc-csc" max="999" autocomplete="off" required></input>
        </p>
        <p>
          <button id="submit" name="submit">Donate now</button>
        </p>
      </form>
    </div>

    <script src="/javascripts/bundle.js"></script>
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  </body>
</html>
